<div class="container">
<head>
<style>
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}
</style>
</head>
<body>

<h2>Mohab's Products <a href="http://localhost/updateC3Product"><span><img src="http://icons.iconarchive.com/icons/awicons/vista-artistic/16/add-icon.png" alt="T-14"></span></a></h2>
        
<!-- <table class="table" ng-controller="AppCtrl"> -->
<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Created at</th>
    <th>Updated at</th>
    <th>Actions</th>
  </tr>

<!--   <tr ng-repeat="product in products">
          <td>{{product.Name}}</td>
          <td>{{product.Price}}</td>
          <td>{{product.CreatedAt}}</td>
          <td>{{product.UpdatedAt}}</td>
          
        </tr>-->
  <tr> 
    <td>XBox</td>
    <td>100$</td>
    <td>11/2/2018</td>
    <td>16/2/2018</td>
    <td><a href="http://localhost/updateC3Product" target="_blank">Edit    </a><a href="http://localhost/deleteC3Product" target="_blank">     Delete</a></td>
  </tr>
  <tr>
    <td>PS4</td>
    <td>200$</td>
    <td>14/5/2018</td>
    <td>17/8/2018</td>
    <td><a href="http://localhost/updateC3Product" target="_blank">Edit    </a><a href="http://localhost/deleteC3Product" target="_blank">     Delete</a></td>
  </tr>
  <tr>
	<td>Wii</td>
    <td>300$</td>
    <td>20/7/2018</td>
    <td>25/9/2018</td>
    <td><a href="http://localhost/updateC3Product" target="_blank">Edit    </a><a href="http://localhost/deleteC3Product" target="_blank">     Delete</a></td>
  </tr>
  <tr>
    <td>VR</td>
    <td>500$</td>
    <td>25/11/2018</td>
    <td>20/12/2018</td>
    <td><a href="http://localhost/updateC3Product" target="_blank">Edit    </a><a href="http://localhost/deleteC3Product" target="_blank">     Delete</a></td>
  </tr>
</table>

</body>

</div>
<!-- <script src="../../../../api/controllers/ProductController.js"></script>
 -->