<div class="navbar navbar-default">
  <div class="container">
    <div id="navbar-main">
      <ul class="nav navbar-nav">
        <li><a routerLink="/"><span><img src="/assets/images/logo.png" alt="T-14"></span></a></li>
        <li><a routerLink="/">SE CRACKIN</a></li>
        <li><a routerLink="/StoreC1"> Store C1 </a></li>
        <li><a routerLink="/StoreC2"> Store C2 </a></li>
        <li><a routerLink="/StoreC3"> Store C3 </a></li>
        <li><a routerLink="/StoreC4"> Store C4 </a></li>
         <li><a routerLink="/StoreC5"> Store C5 </a></li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!auth.isLoggedIn()"><a routerLink="/login">Sign in</a></li>
        <li *ngIf="!auth.isLoggedIn()"><a routerLink="/register">Register</a></li>
        <li *ngIf="auth.isLoggedIn()"><a routerLink="/profile">{{ auth.getUserDetails()?.name }}</a></li>
        <li *ngIf="auth.isLoggedIn()"><a (click)="auth.logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
