<div class="container">

  <h1>About Us</h1>
  <h3>
    <p id="p">This is us,T-14,our name is SE CRACKIN,we are MET Students.</p>
    <p id="p">In this sprint "Sprint1" we are looking forward to learn about MEAN stack technologies and use them to
      build </p>
    <p id="p">a successful application that combines all of the mean stack features. </p></h3>

  <h1>T-14 Members</h1>

  <p id="p">Mustafa Salama</p>
  <a><img id="y" src="../../../../assets/images/Salama.jpg"/></a>
  <p></p>

  <p id="p">Mahmoud Ashmawy</p>
  <img id="y" src="../../../../assets/images/Ashmawy.jpg"/>
  <p></p>
  <p id="p">Ziad Ramzy</p>
  <a><img id="y" src="../../../../assets/images/Ziad.jpg"/></a>
  <p></p>
  <p id="p">Mohab Tarek</p>
  <a><img id="y" src="../../../../assets/images/Mohab.jpg"/></a>
  <p></p>
  <p id="p">Ali</p>
  <a><img id="y" src="../../../../assets/images/Ali.jpg"/></a>
  <p></p>
  <p id="p">Mark Sherif</p>
  <a><img id="y" src="../../../../assets/images/Mark.PNG"/></a>
  <p></p>
  <p id="p">Omar Mokbel</p>
  <a><img id="y" src="../../../../assets/images/omar.jpg"/></a>
  <p></p>
  <p id="p">Amr Adel</p>
  <a><img id="y" src="../../../../assets/images/amr.jpg"/></a>
  <p></p>
  <p id="p">Mohammed Essam</p>
  <a><img id="y" src="../../../../assets/images/essam.jpg"/></a>
  <p></p>
  <p id="p">Youssef Shoeb</p>
  <a><img id="y" src="../../../../assets/images/shoeb.jpg"/></a>
  <p>Youssef Omar Aly Shoeb 37-0955 </p>
  <p id="p">Mohamed Elneily</p>
  <a><img id="y" src="../../../../assets/images/elneily.jpg"/></a>
  <p>Mohamed Ahmed Elneily 37-18356</p>
  <p id="p">Rafik Sherif</p>
  <a ><img id="y" src="../../../../assets/images/Rafik.PNG" /></a>
  <p>Rafik Sheif Louis 37-7419</p>
  <p id="p">Moustafa Nawar</p>
  <a><img id="y" src="../../../../assets/images/nawar.jpg" /></a>
  <p>Moustafa Nawar 37-10858</p>
  <p id="p">Sara Hatem</p>
  <a><img id="y" src="../../../../assets/images/Sara.jpg"/></a>
  <p></p>
  <p id="p">Abdallah Eltayeb</p>
  <a><img id="y" src="../../../../assets/images/Abdallah.PNG" /></a>
  <p>Abdallah Eltayeb 37-12409</p>
  <p id="p">Bassel Elwakil</p>
  <a><img id="y" src="../../../../assets/images/bassel.png" /></a>
  <p>Bassel Elwakil 37-4406</p>
  <p></p>
  <p id="p">Youssef Emad</p>
  <a><img id="y" src="../../../../assets/images/Joey.png" /></a>
  <p>Youssef Emad 37-1094</p>


</div>
